@import './colors.scss';

header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: flex-start;

  .logo {
    margin: 15px;
    width: 50px;
    flex-basis: 50px;
  }

  .fulltext-logo {
    margin: 18px;
    width: 250px;
    flex-basis: 250px;
  }

  .header-navbar {
    color: white;
    flex-basis: 100%;
    text-align: right;

    li {
      cursor: pointer;
      display: inline-block;
      font-family: ITC Avant Gard;
      padding: 10px 30px;

      &:hover { color: grey; }
    }
  }
}

// .navbar {
//   ul li {
//     display: inline-block;
//     list-style: none;
//     margin: 10px;

//     &:hover { font-weight: bold; }
//   }

//   ul li a { text-decoration: none; }
// }

// .page-header {
//   small { font-size: 12px; }
// }
