@import '../template/colors.scss';

.home {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;

  .ultimas-apostas, .ultimos-memes, .ultimas-frases {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
}
